api-gateway/node_modules
api-gateway/dist
api-gateway/.env
api-gateway/.env.local
api-gateway/.env.development
api-gateway/.env.test
api-gateway/.env.production
cart-service/node_modules
cart-service/dist
cart-service/.env
cart-service/.env.local
cart-service/.env.development
cart-service/.env.test
cart-service/.env.production
product-service/node_modules
product-service/dist
product-service/.env
product-service/.env.local
product-service/.env.development
product-service/.env.test
product-service/.env.production
